.inputcantidad{
    max-width: 45px;
    border: 1px solid black;
    border-radius: 5px;
    background: #eee;
    padding: 5px;
}

.shoppingCartItemQuantity {
    max-width: 45px;
    border: 1px solid black;
    border-radius: 5px;
    background: #eee;
    padding: 5px;
}