@import url(admin.css);


#navbarNav {
    justify-content: space-between;
    margin: 0 2vw;
}

.navbar-brand {
    margin-left: 2vw;
}

.modal-footer{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.modal-content {
    background-color: rgba(46, 41, 41, 0.815);
    color: wheat;
}

.btn-warning {
    color: rgb(65, 64, 63);
    font-weight: bold;
}

.lista-carrito {
    display: grid;
    grid-template-columns: 18% 48% 12% 15% 8%;
    align-items: center;
    padding-bottom: 5px;
}

.btnmod{
    color:wheat
}

.fa-trash:hover{
    
    cursor:pointer;
    
}

.carousel-item {
    max-width: fit-content;
    justify-content: center;
    display: flex;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
}

.dropdown-menu {
    width: 15vw;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1.5vw;
}

.cont-formulario-modal {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap:2vw;
    padding: 10px 20px;
    padding-bottom: 25px ;
}

.cont-formulario-modal input{
    margin: 1vw;
}

#input-cant{
    width: 80%;
}

.btn-pagar-modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-top:hover{
    scale: 108%;
    transition: 300ms;
}

.card-img-top{
    transition: 300ms;
}

.mensaje-stock{
    font-size: 0.8rem;
    color: rgb(224, 107, 107);
    display: flex;
    justify-content: center;
    padding-bottom: 2vw;
}

.stock, #precio {
    font-weight: bold;
    display: flex;
    justify-content: center;
}

#requerido {
    display: flex;
    justify-content: center;
    color: rgb(224, 107, 107);
    padding-left: 1.2vw;
}

#subcontenedor-filtros{
    background-color: #FFC107;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 25px;
    margin-top: 2vw;
    margin-left: 14vw;
    margin-right: 14vw;
    border-radius: 15px; 
}

.seccion-tienda{
    padding-top: 0 !important;
}

.animate__heartBeat{
    --animate-duration: 0.7s;
}